* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
}

#container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(34,195,134);
    background: linear-gradient(0deg, rgba(34,195,134,1) 0%, rgba(224,253,45,1) 100%);

}

#titulo {
    margin-bottom: 40px;
    font-size: 20px;
    color:darkslategrey;
}

#container_secundario {
   width: 700px;
   padding: 30px 50px;
   background-color: antiquewhite;
   border-radius: 15px;
   box-shadow: 10px 10px 5px 0px rgb(38, 6, 198);
   
}

#container_input {
    width: 100%;
    display: flex;
    margin-bottom: 50px;
    position: relative;
}